
<div class="container">
    <div class="row">
        <div class="col">
            <div class="title-header">
                <h1>Documentation</h1>
                <p>Kindly Click the link below </p>
                <div>
                 <a href="https://github.com/sunnepazzy123/team-tailor-assignment-app1" target="_blank" class="do-link btn btn-primary">
                    ReadMe
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>